/*div {
	border: 1px solid red;
	margin: 5px;
}

div > p {
	visibility: hidden;
}

h1 {
	visibility: hidden;
}

/*.second {
	visibility: hidden;
}*/

/** {
	visibility: hidden;
}
img {
	visibility: visible
}*/